body {
	height: 100%;
}

img {
	border: 3px solid;
}

#footer {
	background-color: #EBEBEB;
	padding: 2px;
}

#book1 {
	margin: 10px auto;
	padding: 10px 0px;

}

#book2 {
	margin: 10px auto;
	padding: 10px 0px;
}

#album1 {
	margin: 10px auto;
	padding: 10px 0px;

}

#album2 {
	margin: 10px auto;
	padding: 10px 0px;
}

#headfirst {

}

#jsjq {

}

#loveSongsdrugSongs {

}

#talkingIshard {

}

.book_product {

}

.album_product {

}

.name {
	font-size: 1.5em;
	margin: auto;
	font-weight: bold;
}

.category {
	margin: ;

}

.price {

}

.picture {

}

.selling_point {
	margin-top: 5px;

}

.important {
	font-weight: bold;
}

.footerbox {
	text-align: center;
}

.footerbox_mid {
	text-align: center;
	border-left: 1px solid;
	border-right: 1px solid;
}